%p
  %h2 
    Lista de generacion para cursos:
    %span
      %b=@course.name

%table.table
  %thead
    %tr
      %td
      %th Fecha de inicio
      %th Detalles
      %th Supervisor
      %th

  %tbody
    - @programed_courses.each do |programed_course|
      %tr
        %td= link_to 'Ver', programed_course_programed_course_sessions_path(programed_course)
        %td= link_to programed_course.start_date, programed_course_programed_course_sessions_path(programed_course)
        %td= programed_course.details
        -if programed_course.supervisor
          %td= programed_course.supervisor.full_name
        - else
          %td Sin registro de maestro
        %td= link_to 'Editar', edit_programed_course_path(programed_course)
-#        %td= link_to 'Destroy', [@course, programed_course], :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'Atras', courses_path, class: "btn btn-default"
= link_to 'Nueva Generación', new_course_programed_course_path, class: "btn btn-default"
