= simple_form_for(@enrollment) do |f|
  = f.error_notification

  .form-inputs
    = f.association :student, label: "Alumno", label_method: :full_name
    = f.association :programed_course, label: "Curso programado", collection: @programed_courses, label_method: :course_name, value_method: :id 


  .form-actions
    = f.button :submit, "Inscribir"
