%h1 Lista de inscripciones


%table.table
  %thead
    %tr
      %th Alumno
      %th Curso Programado
      %th
      %th
      %th

  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td= enrollment.student.full_name
        %td= enrollment.programed_course.course_name
        %td= link_to 'Mostrar', enrollment
        %td= link_to 'Editar', edit_enrollment_path(enrollment)
        %td= link_to 'Destruir', enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nueva Inscripción', new_enrollment_path, class: "btn btn-default" 
