%h1 Listing enrollments


%table.table
  %thead
    %tr
      %th Student
      %th Programed course
      %th
      %th
      %th

  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td= enrollment.student.full_name
        %td= enrollment.programed_course.course_name
        %td= link_to 'Show', enrollment
        %td= link_to 'Edit', edit_enrollment_path(enrollment)
        %td= link_to 'Destroy', enrollment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Enrollment', new_enrollment_path, class: "btn btn-default" 
