%p#notice= notice

%p
  %b Alumno:
  = @enrollment.student
%p
  %b Curso programado:
  = @enrollment.programed_course

= link_to 'Editar', edit_enrollment_path(@enrollment), class: "btn btn-default" 
\|
= link_to 'Volver a curso programado', programed_course_programed_course_sessions_path(@enrollment.programed_course_id), class: "btn btn-default" 
