%p#notice= notice

%p
  %b Student:
  = @enrollment.student
%p
  %b Programed course:
  = @enrollment.programed_course

= link_to 'Edit', edit_enrollment_path(@enrollment)
\|
= link_to 'Back to Programed Course', programed_course_programed_course_sessions_path(@enrollment.programed_course_id)
