= simple_form_for([@course, @programed_course, @programed_course_session]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :session_number, label: "Numero de Sesión"
    = f.input :topic, label: "Tema"
    = f.input :date, label: "Fecha"
    = f.association :teacher, collection: @teachers, label_method: :full_name, value_method: :id, label: "Moderador"


  .form-actions
    = f.button :submit, class: "btn btn-default" 
