.row
  .col-lg-12
    - if @programed_course.supervisor
      %h3= "Supervisor de curso: #{@programed_course.supervisor.full_name}"
    - else
      %h3 Supervisor de curso: Sin supervisor registrado  
.row
  .col-lg-8
    %h2 Lista de sesiones
    %table.table
      %thead
        %tr
          %th Número de sesión
          %th Moderador
          %th Tema
          %th Fecha
          %th
          %th
          %th

      %tbody
      - @programed_course_sessions.each do |programed_course_session|
        %tr
          %td= programed_course_session.session_number
          - if programed_course_session.teacher
            %td= programed_course_session.teacher.full_name
          - else
            %td Sin registro de maestro
          %td= programed_course_session.topic
          %td= programed_course_session.date
          %td= link_to 'Editar', edit_programed_course_session_path(programed_course_session)
          %td= link_to 'Destruir', programed_course_session_path(programed_course_session), :method => :delete, :data => { :confirm => 'Are you sure?' }
    %br
    = link_to 'Atras', course_programed_courses_path(@programed_course.course_id), class: "btn btn-default"
    = link_to 'Nueva sesión', new_programed_course_programed_course_session_path, class: "btn btn-default" 
  

  .col-lg-4
    %h2 Alumnos Inscritos
    %table.table
      %thead
        %tr
          %th Nombre
          %th 
      
      %tbody
      - @enrollments.each do |enrollment|
        %tr
          -if enrollment.student.full_name
            %td=link_to enrollment.student.full_name, person_path(enrollment.student.id)
          -else
            %td=link_to enrollment.student_id, person_path(enrollment.student.id)
          %th= link_to "Destruir", enrollment, method: :delete, data: { confirm: "Are you sure ? "}  
    = render 'enrollment'

-#        %td= link_to 'Mostrar', course_programed_course_programed_course_session
-#        %td= link_to 'Editar', edit_programed_course_session_path(programed_course_session)
.row
  .col-lg-8
    %h2 Equipos
    %table.table
      %thead
        %tr
          %th Coordinador
          %th Integrantes
          %th 
      %tbody
      - @teams.each do |team|
        %tr
          %td= team.person.full_name
          %td
            %table.table
              %thead
              %tbody
                - team.students.each do |member|
                  %tr
                    %td=member.full_name
          %td= link_to 'Editar', edit_team_path(team) 
    = render 'team'