%h2 Lista de cursos

%table.table
  %thead
    %tr
      %th Nombre
      %th Descripción
      %th Generaciones
      %th Orden
      %th
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.name, course_programed_courses_path(course)
        %td= course.description
        %td= course.programed_courses.count
        %td= course.order
        %td= link_to 'Lista de generaciones', course_programed_courses_path(course)
        %td= link_to 'Editar', edit_course_path(course)
        %td= link_to 'Destruir', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuevo Curso', new_course_path, class: "btn btn-default" 
