!!! 5 
%html
%head
  %title Laradmin
  = stylesheet_link_tag    'application', media: 'all' 
  = javascript_include_tag 'application'
  = csrf_meta_tags

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Lar Administración", root_path

      %ul.nav.navbar-nav.navbar-left
        %li= link_to "Personas", people_path
        %li= link_to "Maestros", teachers_path
        %li= link_to "Cursos", courses_path 

        -#%li= link_to "Enrol", enrollments_path

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to current_user.email
          %li= link_to "Salir", destroy_user_session_path, method: :delete
        - else
          / %li= link_to "Registrarse como usuario", new_user_registration_path
          %li= link_to "Ingresar", new_user_session_path 
  .container 
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert"
    
    = yield
